<nav class="container-fluid header_background border-gray d-flex px-4 py-2">
    <div class="col-sm-12 col-md-4 d-flex flex-wrap align-items-center ">
        {% load static %}
        <img src="{% static 'media/images/studycenter_logo.PNG' %}" alt="studycenter_icon">
        <h3 class="mx-4 my-2">{{studycenter_name}}</h3>
    </div>
    <div class="col-sm-12 col-md-4 d-flex flex-wrap align-items-center justify-content-center">
        <h3>{{app_tittle}}</h3>
    </div>
    {% if user.is_authenticated %}
    <div class="col-sm-12 col-md-4 d-flex flex-wrap align-items-center justify-content-end container-fluid">
        <div class="dropdown">
            <img onclick="show_notifications()" src="{% static 'media/images/notifications_icon.png' %}" class="dropbtn img-fluid" alt="menu_icon">
            <div id="notifications_dropdown" class="dropdown-menu" style="right: 0; left: auto;">
            </div>
            <span id="notification_number" class="badge">3</span>
        </div>
        <!--<div>
            <a>

                <div id="notifications_dropdown" class="dropdown-content">

                </div>

            </a>
        </div>-->
        <h5 class="mx-4 my-2">{{ user.username }}</h5>
        <div class="dropdown col-1">
            <img onclick="showMenu()" src="{% static 'media/images/menu_icon.PNG' %}" class="dropbtn img-fluid" alt="menu_icon">
            <div id="myDropdown" class="dropdown-content">
                <a href="{% url 'logout' %}">Cerrar sesión</a>
            </div>
        </div>
        {% endif %}

</nav>