{% extends "generic.html" %} 

{% block body %}   
<section class="container-fluid d-flex flex-wrap my-5">

{% load static %}
<div class=" col-sm-12 col-md-6 relative text-end m-4">
    <a href="#">
        <img class="blur borderR-20px" src="{% static 'media/images/enter_work_background.png' %}" alt="enter_work_background">
        <div class="image_text ">
           <h5 class="pr-3 pl-3 mb-2 mx-5">ENTRAR TRABAJO</h5>

        </div>
    </a>
</div>
<div class=" col-sm-12 col-md-5  my-auto relative text-start m-4">
    <a href="#">
        <img class="blur borderR-20px" src="{% static 'media/images/enter_work_background.png' %}" alt="enter_work_background">
        <div class="image_text ">
           <h5 class="pr-3 pl-3 mb-2 mx-5">SALIR TRABAJO</h5>

        </div>
    </a>
</div>
<div class=" col-sm-12 col-md-6 relative text-end m-4">
    <a href="#">
        <img class="blur borderR-20px" src="{% static 'media/images/enter_work_background.png' %}" alt="enter_work_background">
        <div class="image_text ">
           <h5 class="pr-3 pl-3 mb-2 mx-5">ENTRAR DESCANSO</h5>

        </div>
    </a>
</div>
<div class=" col-sm-12 col-md-5  my-auto relative text-start m-4">
    <a href="#">
        <img class="blur borderR-20px" src="{% static 'media/images/enter_work_background.png' %}" alt="enter_work_background">
        <div class="image_text ">
           <h5 class="pr-3 pl-3 mb-2 mx-5">SALIR DESCANSO</h5>

        </div>
    </a>
</div>


</section>

{% endblock body%}