{% extends "generic.html" %} {% block title %}Admin Panel{% endblock %} {% block extra_head %} {% load static %}
<link href="{% static 'css/admin/admin.css' %}" rel="stylesheet"> {% endblock %} {% block body %} {% include "top/header.html" %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="d-flex align-items-center"></form>
            <input id="searchInput" class="form-control me-2" type="search" placeholder="Buscar por nombre" aria-label="Search">
            <i class="fas fa-search  me-2"></i>

        </div>
        <div>
            <button id="employee-hours-button" class="btn notification-button"><i class="fas fa-user-clock"></i></button>
            <button class="btn notification-button" data-toggle="modal" data-target="#sendNotification"><i class="fas fa-paper-plane"></i></button>
            <button class="btn" data-toggle="modal" data-target="#UserModal" data-whatever="Crear Usuario"><i class="fas fa-user-plus"></i></button>
            
            
            <!--<i class="fas fa-hourglass-start"></i>
                <button id="pdfPrintButton" class="btn alert-button">Imprimir pdf</button>
            
            -->

        </div>
    </div>
</nav>

<div class="container">
    <div class="table">
        <div class="table-header">
            <div id="header__item__checkbox" class="header__item">
                <div class="form-check  ">
                    <input class="select_all form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..." onclick="changeAll()">
                </div>
            </div>
            <div class="header__item">
                <h5>DNI</h5>
            </div>
            <div class="header__item">
                <h5>NOMBRE Y APELLIDOS</h5>
            </div>
            <div class="header__item">
                <h5>EMAIL</h5>
            </div>
            <div class="header__item">
                <h5>TELÉFONO</h5>
            </div>
            <div class="header__item"></div>

        </div>
        <div id="tableContent" class="table-content">

        </div>
        </div>
    </div>
    
{% endblock body %}
{% block modals %}
{% include "modals/response_notification.html" %}
{% include "modals/show_admin_notification.html" %}
{% include "modals/send_notification.html" %}
{% include "modals/user_info.html" %}
{% include "modals/user_interaction.html" %}
{% include "modals/confirmation_to_desactivate_user.html" %}
{% include "modals/confirmation_to_activate_user.html" %}
{% include "modals/user_hours.html" %}
{% endblock modals %}
{% block extra_scripts %}
<script src="{% static 'js/admin.js' %}"></script>
<script type="text/javascript">
    bind_event("#sendNotification", "show.bs.modal", send_notification_modal_event_function)
    bind_event("#employee-hours-button", "click", check_if_employees_are_selected)
    bind_event("#monthDateHours", "input", on_watch_hours_model)
    bind_event("#UserModal", 'show.bs.modal', user_modal_event_function)
    bind_event("#userInteractions", 'show.bs.modal', user_interaction_modal_event_function)
    bind_event("#confirmDesactivateModal", 'show.bs.modal', confirm_desactivate_modal_event_function)
    bind_event("#confirmActivateUserModal",'show.bs.modal', confirm_activate_user_modal_event_function)
    bind_event("#confirmationDesactivateUserButton", "click", on_click_desactivate_user_confirmation_button)
    bind_event("#confirmationActivateUserButton", "click", on_click_activate_user_confirmation_button)    
    bind_event("#searchDateButton", "click", search_date_button_action)
    bind_event("#confirm_send", "click", on_click_confirm_send_event_function)
    bind_event("#make_a_response_notification", "click", on_click_make_a_response_notification)
    bind_event("#send_response_notification", "click", on_click_send_response_notification)
    bind_event("#set_as_viewed_notification", "click", on_click_set_as_viewed_notification)
    bind_event("#editButton", "click", on_click_edit_button)
    bind_event("#searchInput", "input", on_input_search_input)
    bind_event("#download-registers-button", "click", on_click_check_if_employee_have_interactions)

    {% if form_success == 'success' %}
        show_feedback_to_user("success", "{{form_type}}", false, 1500, "rgba(80,80,80,0.4)");
    {% elif form_success == 'fail' %}
        show_feedback_to_user("error","Ha habido un problema, revisa los campos.", true, 15000, "rgba(70,70,70,0.4)")
    {% endif %}
</script>
{% endblock %}
