{% extends "generic.html" %} {% block title %}Admin Panel{% endblock %} {% block extra_head %} {% load static %}
<link href="{% static 'css/admin/admin.css' %}" rel="stylesheet"> {% endblock %} {% block body %} {% include "top/header.html" %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="d-flex align-items-center"></form>
            <input id="searchInput" class="form-control me-2" type="search" placeholder="Buscar por nombre" aria-label="Search">
            <i class="fas fa-search  me-2"></i>

        </div>
        <div>
            <button class="btn notification-button" data-toggle="modal" data-target="#sendNotification"><i class="fas fa-paper-plane"></i></button>
            <button class="btn" data-toggle="modal" data-target="#UserModal" data-whatever="Crear Usuario"><i
                    class="fas fa-user-plus"></i></button>
            <!--
                <button id="pdfPrintButton" class="btn alert-button">Imprimir pdf</button>
            
            -->

        </div>
    </div>
</nav>
<div class="container">

    <div class="table">
        <div class="table-header">
            <div id="header__item__checkbox" class="header__item">
                <div class="form-check  ">
                    <input class="select_all form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..." onclick="changeAll()">
                </div>
            </div>
            <div class="header__item">
                <h5>DNI</h5>
            </div>
            <div class="header__item">
                <h5>NOMBRE Y APELLIDOS</h5>
            </div>
            <div class="header__item">
                <h5>EMAIL</h5>
            </div>
            <div class="header__item">
                <h5>TELÉFONO</h5>
            </div>
            <div class="header__item"></div>

        </div>
        <div id="tableContent" class="table-content">

        </div>
        </div>
    </div>
    <!--

    <div class="container-fluid">
        <div class="container-fluid w-100 row justify-content-center align-items-center py-2">
            <div class="form-check col-1 justify-content-center align-items-center">
                <input class="select_user form-check-input position-static m-0 p-0" type="checkbox" id="blankCheckbox" value="option1" aria-label="..." onclick="changeOne()">
            </div>
            <h3 class="col-2">DNI</h3>
            <h3 class="col-9">NOMBRE Y APELLIDOS</h3>
        </div>
        {% for employee in employees %}
        {% if employee.user.is_active == True %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="container-fluid row bg-white">
            {% else %}
            <div class="container-fluid row bg-light">
                {% endif %}
                <div class="form-check col-1 justify-content-center align-items-center">
                    <input class="select_user form-check-input position-static m-0 p-0" type="checkbox" id="blankCheckbox"
                        value="option1" aria-label="...">
                </div>
                <h3 id="DNI{{ forloop.counter }}" class="col-2">{{ employee.dni }}</h3>
                <h3 class="col-8">{{ employee.name }} {{ employee.surnames }}</h3>
                <div class="container-fluid col-1" name="prueba">
                    <button class="btn col-3" data-toggle="modal" data-target="#UserModal" data-whatever="Editar Usuario"><i
                            class="fas fa-user-edit"></i></button>
                    <button data-toggle="modal" data-target="#userInteractions" class="btn col-3"><i
                            class="fas fa-clipboard-list"></i></button>
                    <button class="btn col-3 delete-button" data-toggle="modal" data-target="#confirmDeleteModal"><i
                            class="fas fa-trash"></i></button>
                </div>
            </div>
            {% endif %}
            {% empty %}
            <h1>No hay empleados.</h1>
            {% endfor %}
        </div>
-->
{% endblock body %}
{% block modals %}
{% include "modals/response_notification.html" %}
{% include "modals/show_admin_notification.html" %}
{% include "modals/send_notification.html" %}
{% include "modals/user_info.html" %}
{% include "modals/user_interaction.html" %}
{% include "modals/confirmation_to_delete.html" %}
{% endblock modals %}
{% block extra_scripts %}
<script src="{% static 'js/admin.js' %}"></script>
<script>
    bind_event("#sendNotification", "show.bs.modal", send_notification_modal_event_function)
    bind_event("#UserModal", 'show.bs.modal', user_modal_event_function)
    bind_event("#userInteractions", 'show.bs.modal', user_interaction_modal_event_function)
    bind_event("#confirmDeleteModal", 'show.bs.modal', confirm_delete_modal_event_function)
    bind_event("#confirmationButton", "click", on_click_confirmation_button)
    bind_event("#searchDateButton", "click", search_date_button_action)
    bind_event("#confirm_send", "click", on_click_confirm_send_event_function)
    bind_event("#make_a_response_notification", "click", on_click_make_a_response_notification)
    bind_event("#send_response_notification", "click", on_click_send_response_notification)
    bind_event("#set_as_viewed_notification", "click", on_click_set_as_viewed_notification)
    bind_event("#editButton", "click", on_click_edit_button)
    bind_event("#searchInput", "input", on_input_search_input)
    bind_event("#pdfPrintButton","click",on_click_get_pdf)
</script>
{% endblock %}
