<div class="modal fade" id="showNotification" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="send_by_text_show_notification"></h5>
                <div>
                    <button type="button"class="helpButton btn">
                        <i class="far fa-question-circle fa-2x"><span id="helpText" style="display: none;">Aquí pone la ayuda </span></i>
                    </button>
                    <button type="button"class="btn"  data-dismiss="modal">
                        <i class="far fa-times-circle fa-2x"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="px-3">
                    <h5 id="show_notification_type" class="mb-3"></h5>
                    <textarea cols="40" rows="5" class="form-control no-resize" id="show_notification_description" readonly></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <input id="response_to" type="hidden">
                <button id="make_a_response_notification" class="btn btn-success">Responder</button>
                <input id="set_as_viewed" type="hidden">
                <button id="set_as_viewed_notification" type="button" class="btn btn-danger" data-dismiss="modal">Marcar como leído</button>
            </div>
        </div>
    </div>
</div>