<div class="modal fade bd-example-modal-lg" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
               
                <div style="width: 60%;" class="row">
                    <h4 class="col-5 modal-title text-center ml-1 px-0" id="createUserModalLabel">Crear empleado</h4>
                    <button title="Alternar entre editar y ver usuarios" type="button" id="editButton" class="col-1 btn"> 
                        <i class="fas fa-pen" aria-hidden="true"></i>
                    </button>
                </div>
               
                <div>
                    <button id="helpButton" type="button"class=" helpButton btn">
                        <i class="far fa-question-circle fa-2x"><span id="helpText" style="display: none;">Se muestra la información del usuario, para editar un usuario hay que hacer clic en el lápiz que hay la parte superior. Seleccionando un mes puedes descargar el PDF de los registros correspondientes. A la hora de crear un usuario da error si el Teléfono o Número de la seguridad social no son números.</span></i>
                    </button>
                    <button type="button"class="btn"  data-dismiss="modal">
                        <i class="far fa-times-circle fa-2x"></i>
                    </button>
                </div>
            </div>
            
            <div class="modal-body background-lightblue font-white">
                <div id="only-edit-form">
                    <div>
                        <input id="input_dni" type="text" style="display: none;" name="employee_dni">
                        <input class="py-1" type="month" name="month" id="monthDatePDF" required>
                        <button id="download-registers-button" type="submit" class=" btn-secondary py-1" >Descargar registros <i class="fas fa-arrow-circle-down"></i></button>
                    </div>
                    <br>
                    <hr class="background-grey">

                </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="container-fluid">
                        {{ userForm.form_type }}
                        <div class="row py-2">
                            <div class="col-6 text-center">Nombre</div>
                            <div class="col-6 text-center">Apellidos</div>
                            
                        </div>
                        <div class="row form-group py-2">
                            <div class="col-6 text-center">{{ userForm.name }}</div>
                            <div class="col-6 text-center">{{ userForm.surnames }}</div>
                           
                        </div>
                        <div class="row py-2">
                            <div class="col-6 text-center">DNI</div>
                            <div class="col-6 text-center">Nº Seguridad Social</div>
                            
                        </div>
                        <div class="row form-group py-2">
                            <div class="col-6 text-center">{{ userForm.dni }}</div>
                            <div class="col-6 text-center">{{ userForm.ss_number }}</div>
                           
                        </div>
                        <div class="row py-2">
                            <div class="col-6 text-center">Teléfono</div>
                            <div class="col-6 text-center">E-Mail</div>
                        </div>
                        <div class="row form-group py-2">
                            <div class="col-6 text-center">{{ userForm.phone_number }}</div>
                            <div class="col-6 text-center">{{ userForm.email }}</div>
                        </div>
                        <div class="row text-center py-2">
                            <p class="col-12">FIRMA</p>
                        </div>
                        <div id="user_signature" class="row form-group justify-content-center align-items-center py-2">

                        </div>

                        <div class="row form-group text-center">

                        </div>
                    </div>

            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-cancel " data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary " >Confirmar</button>
            </div>
            </form>

        </div>
    </div>
</div>