<div class="modal fade" id="userHours" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="userHoursLabel">Horas de los usuarios</h5>
                    <div>
                        <button type="button"class="helpButton btn">
                            <i class="far fa-question-circle fa-2x"><span id="helpText" style="display: none;">Se muestran las horas de los usuarios seleccionados, en el mes seleccionado.</span></i>
                        </button>
                        <button type="button"class="btn"  data-dismiss="modal">
                            <i class="far fa-times-circle fa-2x"></i>
                        </button>
                    </div>
                </div>
                <div class="modal-body ">
                    <input type="hidden" id="hidden-dni">
                    <div class="container-fluid row m-1 text-center py-3">
                        <div class="col-10">
                            <label class="col-3" for="monthDateHours"><h5>Seleccione un mes:</h5></label>
                            <input class="col-6" type="month" name="startDate" id="monthDateHours" class="form-control">
                        </div>
                    </div>

                    <div class="table-wrapper h-25">
                        <table class="fl-table font-white">
                            <thead class="tableBlock">
                            <tr class="text-center row mx-0 px-0" >
                                <th class="col-10">Empleado</th>
                                <th class="col-2">Horas</th>
                            </tr>
                            </thead>
                            <tbody id="user_hours_container" class="font-black tableBlock tableBodyScroll">
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancel" data-dismiss="modal">Salir</button>
                    </div>
            </div>
        </div>
    </div>
