{% extends "generic.html" %} {% block title %}Login{% endblock %} {% load static %} {% block extra_head %}
<link href="{% static 'css/login.css' %}" rel="stylesheet"> {% endblock %} {% block body %}
<!--

    <section class="login_background_image row d-flex justify-content-center text-center center">
        <div class=" align-middle">
            <div class="login-box text-center border-gray p-4 rounded w-120 ">
                <h6 class="text-left f-white pb-1">INICIA SESIÓN</h6>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="mb-3 form-group">
     
                        {{ form.username }}
                    </div>
                    <div class="mb-3 form-group">
                       
                        {{ form.password }}
                    </div>
                    <button type="submit" class="btn blue-background">Iniciar Sesión</button>
                </form><br>
                <h6 >o darme de alta</h6>
                
                </div>
            </div>
        </div>
    </section>
-->
<section class="login-wrap d-flex">

    <div class="login-html">
        <h2 class="text-center">SIGNET</h2>
        <hr class="mb-4 ">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Iniciar sesión</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>

        <form class="login-form" method="post">
            {% csrf_token %}
            <div class="sign-in-htm">
                <div class="group">
                    <label for="user" class="label">Email</label> {{ form.username }}

                </div>
                <div class="group">
                    <label for="pass" class="label">Contraseña</label> {{ form.password }}
                </div>
                <div class="group">

                    <input id="check" type="checkbox" style="background-color: black;" class="check" checked>
                    <label for="check"><span class="icon"></span> Fichame al entrar</label>
                </div>
                <div class="group">
                    <input type="submit" class="button" value="ENTRAR">
                </div>

                <div class="foot-lnk">
                    <a href="#forgot">¿Has olvidado la contraseña?</a>
                </div>
            </div>
        </form>

    </div>
</section>
{% endblock body%} {% block extra_scripts %}
<script>
    $("#tab-2").click(function() {
        $("#login-wrap").css("padding-bottom", "750px");



    })
    $("#tab-1").click(function() {
        $("#login-html").css("width", "550px");


    })
</script>
{% endblock %}