

h1,h2,h3,h4,h5,h6 {
	margin:0;
}

.container {
	max-width: 1920px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	min-height:10vh;
    max-height: 760px;
    
}
a {
    text-decoration: none;
}
/*Estilos scroll*/

::-webkit-scrollbar {
   
    width: 8px;
    background-color: rgba(0, 0, 0, 0.178);
}

 ::-webkit-scrollbar-thumb {
    background: rgb(57, 59, 68, 0.5);
    border-radius: 5px;
}

.table {
    width:100%;
	border:2px solid rgb(0, 0, 0);
    overflow-y: scroll;
}


.table-header {
	display:flex;

    background: rgb(0,149,226);
    background: linear-gradient(0deg, rgba(0,149,226,1) 0%, rgba(2,110,231,1) 100%, rgba(0,149,226,1) 100%);
    color: white;
	padding: 0.7%;
    
    
    
}


.table-row-1 {
    display:flex;
    width:100%;
    align-items: center;
    background:#EEEEEE;
}
.table-row-2 {
	display:flex;
	width:100%;
	align-items: center;
	background:white;
}


.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
	text-transform:uppercase;
}
#header__item__checkbox {
    flex: 0 0 0.1%;
    padding-left: 2%;
}
#table-data-checkbox{
    flex: 0 0 1%;
    padding-left: 0.6%;
    margin-top:0.8%;

}
/* estilos dle modal user

*/



hr {
    margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(255, 255, 255, 0.972);
}

/* ESTILOS TABLA HORAS*/

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 20px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #5c96e2;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

.fa-user-clock:hover,
.fa-paper-plane:hover,
.fa-user-plus:hover,
.fa-user-edit:hover,
.fa-user-slash:hover,
.fa-unlock-alt:hover,
.fa-clipboard-list:hover{
    color: cornflowerblue;
}
.fa-unlock-alt{
    width: 20px;
}
#blankCheckbox:hover{
border: 2px solid cornflowerblue;
}

#searchInput{
    border: 2px solid  rgb(118, 118, 118);
    
}
#searchInput:hover{

    border: 2px solid cornflowerblue;
}

#searchInput:hover ~ .fa-search{

    color:  cornflowerblue;
}

#response_ticket_type, #response_ticket_description, #ticket_type, #ticket_description {
    margin: 0 auto;
    width: 95% !important;
    border: 1px solid rgb(247, 247, 247) !important;
    background-color: rgb(244, 244, 244) !important;
    border-radius: 10px !important;
}

.table-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.table::-webkit-scrollbar {
    display: none;
}

.table {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.dropdown-content {         
    max-height: 700%;
    overflow-y: auto;
}

#register_container::-webkit-scrollbar {
    display: none;
}

#register_container {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

table {
    box-shadow: 0px 20px 50px rgba( 0, 0, 0, 0.2 );
}
table,
tbody,
thead,
th,
tr,
td {
    border: none;
    
}
tr {
    border-top: 0.5px solid rgb(133, 132, 132);

}

.blue-0 {
    font-size: 150%;
    font-weight: normal;
    color: white;
    background: linear-gradient(0deg, rgba(0, 149, 226, 1) 0%, rgba(2, 110, 231, 1) 100%, rgba(0, 149, 226, 1) 100%);
}

#register_container > tr > td {
    padding: 1% 0 !important;
    font-size: 140% !important;
}

.details-button {
    font-size: 190% !important;
}

.symbol-table {
    font-size: 190% !important;
}

.symbol-table > p > i {
    margin: auto 0;
}

.exit-arrow {
    color: rgb(216, 72, 72);
}

.entrance-arrow {
    color: rgb(88, 216, 95);
}

.footer-info {
    font-size: 160% !important;
}

.details-text {
    font-size: 120% !important;
}