{% extends "generic.html" %} {% block content %}
<div>
    <a href="#">
        <img src="" alt="icono buscar">
    </a>
    <input type="text" placeholder="Search">
    <ul>
        <li>opcion 1</li>
    </ul>
    <a href="#">
        <img src="" alt="icono añadir">
    </a>
</div>
{% endblock %}
<!-- <div> DATOS DE EMPLEADO QUE SE MOSTRARÍAN AL ENTRAR
    <p>DNI</p>
    <p>NOMBRE Y APELLIDOS</p>
    <a href="#">
        <img src="" alt="icono ver">
    </a>
    <a href="#">
        <img src="" alt="icono editar">
    </a>
    <a href="#">
        <img src="" alt="icono eliminar">
    </a>
</div>
-->
<!--<div> POP-UP 
    <input type="text" placeholder="Nombre">
    <input type="text" placeholder="Apellidos">
    <input type="text" placeholder="DNI">
    <input type="number" placeholder="Nº SS">
    <input type="tel" placeholder="Teléfono">
    <input type="email" placeholder="Email">
    <input type="file" placeholder="Firma">
    <input type="submit" placeholder="Registrar/Actualizar">
</div>
-->