<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header style="background-color: blue;">
        <img src="" alt="logo centro">
        <h2>Nombre centro</h2>
        <h1>Nombre APP</h1>
        <h3>Nombre usuario</h3>
        <img src="" alt="icono desplegable">
    </header>
    {% block content %}{% endblock %}
      <ul class="sidebar-nav">

    {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   {% endif %}
  </ul>
    <footer style="background-color: red;">FOOTER</footer>
</body>

</html>